
@font-face {
    font-family: 'samureix';
    src: url('assets/fonts/Samureix-51ylz.ttf') format('truetype');
 }

 body {
    /* Make sure the particle background covers the viewable page */
    height: 100vh;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-family: 'The Army of God' !important;
    color: white;
    overflow: auto;
}


 main .container-fluid {
     
     background: transparent !important;
     background-color: transparent !important;
     background: none !important;
     background-color: none !important;
 }


 #particles-js {
    position: fixed;
    /* height: 99vh;  */
    /* We have to specify the view height*/
    background: #262626;
    background: linear-gradient(45deg,rgb(233, 30, 99), rgba(38, 38, 38));
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* z-index: 4 !important; */
}

.row {
    background: transparent !important;
     background-color: transparent !important;
     background: none !important;
     background-color: none !important;
     margin:20px;
}

h1 {
    position: relative;
    font-family: 'OASIS' !important;
    font-size: 200px !important;
    text-decoration: underline;
    transform: skewY(-10deg);
    margin-top: 25px;
    z-index: 1;
}


#astronaut_img {
    margin: 25px;
    margin-top: -50px;
    width: 200px;
    background: transparent;
}


#empty-word {
    font-size: 30px;
}





/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    h1 {
        font-size: 10px;
    }


    #astronaut_img{
        width: 20% !important;
        height: 20%;
    }


    #game-instructions {
        font-size: 10%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
    h1 {
        font-size: 10px;
    }

    #astronaut_img{
        width: 500px !important;
        height: 500px;
    }


    #game-instructions {
        font-size: 10%;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    #astronaut_img{
        width: 700px !important;
        height: 700px;
        margin-right: -100px;
    }
} 

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */


