
@font-face {
    font-family: 'samureix';
    src: url('assets/fonts/Samureix-51ylz.ttf') format('truetype');
 }

 body {
    /* Make sure the particle background covers the viewable page */
    height: 100vh;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-family: 'The Army of God' !important;
    color: white;
}


 main .container-fluid {
     
     background: transparent !important;
     background-color: transparent !important;
     background: none !important;
     background-color: none !important;
 }


 #particles-js {
    position: fixed;
    /* height: 99vh;  */
    /* We have to specify the view height*/
    background: #262626;
    background: linear-gradient(45deg,rgb(233, 30, 99), rgba(38, 38, 38));
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* z-index: 4 !important; */
}

.row {
    background: transparent !important;
     background-color: transparent !important;
     background: none !important;
     background-color: none !important;
     margin:20px;
}

h1 {
    position: relative;
    font-family: 'OASIS' !important;
    font-size: 200px !important;
    text-decoration: underline;
    transform: skewY(-10deg);
    margin-top: 25px;
    z-index: 1;
}


#astronaut_img {
    width: 200%;
    margin-top: -50px;
    background: transparent;
}


#empty-word {
    font-size: 30px;
}



@media screen and (min-width:414px) and (max-width:768px){
    
    h1 {
        font-size: 10px;
    }
     
    #astronaut_img_container {
        width: 50%;
        height: 50%;
        margin: 10px;
    }
    
    #game-instructions {
        font-size: 10%;
    }
}

@media screen and (min-width:376px) and (max-width:414px){
   
    h1 {
        font-size: 10px;
    }

    #astronaut_img_container {
        width: 50%;
        height: 50%;
        margin: 10px;
    }
    #game-instructions {
        font-size: 10%;
    }
}

@media screen and (max-width:375px){

    h1 {
        font-size: 10px;
    }

    #astronaut_img_container {
        width: 50%;
        height: 50%;
        margin: 10px;
    }
    #game-instructions {
        font-size: 10%;
    }
}